@use "sass:math";

$breakpoint-tablet: 768px;
$gutter: 1rem;
$color-light-grey: #B5BEC4;
$color-grey: #61686f;
$color-white: #fff;
$font-family: 'Fira Sans', sans-serif;
$font-size: 1.125rem;
$viewport-width: 640px;
$outgoing-message-bg: #FBF6C1;

body, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

@mixin radius($width: math.div($gutter, 4)) {
  border-radius: $width;
}

.is-flex {
  display: flex;
}

.align-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  @extend .is-flex;
  flex-direction: column;
}

.flex-center-h {
  @extend .is-flex;
  @extend .justify-center;
}

body {
  background: url("../assets/images/body-bg.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.chat--window {
  height: 100vh;

  &-viewport {
    overflow-y: auto;
    flex: 1;
  }

  ul {
    padding-top: $gutter + math.div($gutter, 2);
    width: $viewport-width;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $breakpoint-tablet) {
      width: calc(100% - #{$gutter*3});
    }

    li {
      margin-bottom: $gutter;
      @extend .is-flex;

      // exclude padding & border
      $offset: $gutter * 2 - math.div($gutter, 4);

      .message {
        background-color: $color-white;
        border: 2px solid #D4DADE;
        padding: $gutter;
        font-size: $gutter;
        max-width: calc(420px - #{$offset});
        font-family: $font-family;
        @include radius();

        @media (max-width: $breakpoint-tablet) {
          max-width: calc(240px - #{$offset});
        }

        span {
          color: $color-light-grey;
        }

        p {
          margin: math.div($gutter, 4) 0 math.div($gutter, 4);
          font-size: $font-size;
          line-height: 2rem;
          color: $color-grey;
        }
      }

      &.outgoing {
        @extend .align-end;

        .message {
          background-color: $outgoing-message-bg;

          p {
            color: $color-grey;
            margin-top: 0;
          }

          .timestamp {
            @extend .is-flex;
            @extend .align-end;
          }
        }
      }
    }
  }

  footer {
    background-color: #2F8CCB;
    padding: math.div($gutter, 2);

    form {
      width: $viewport-width;
      height: 60px;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }

      textarea {
        flex: 1;
        background-color: $color-white;
        padding: 1.25rem math.div($gutter, 2) math.div($gutter, 2);
        border: 2px solid #2E77A4;
        margin-right: math.div($gutter, 2);
        resize: none;
        font-family: $font-family;
        font-size: 1rem;
        height: auto;
        min-width: 200px;
        @include radius();

        &::placeholder {
          color: $color-light-grey;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        width: 120px;
        padding: 0;
        background-color: #F7846D;
        border: none;
        color: $color-white;
        cursor: pointer;
        font-family: $font-family;
        font-size: $font-size;
        @include radius();
      }
    }
  }
}